#tablero{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgb(23, 4, 58) 50%, rgb(52, 4, 87) 100%);
    padding: 25px 60px;
    border-radius: 20px;
    border:3px  solid rgb(106, 44, 151);
    margin: 10px 0;
    transition: all 0.3s ease;
}
#tablero:hover{
    box-shadow:0 0 10px rgb(106, 44, 151);
}
#rejilla{
    display: grid; 
    grid-template-columns: repeat(7, 5vw);
    grid-template-rows:repeat(6, 4vw);
    gap: 0.5vw;
}
#rejilla div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(45, 32, 59, 0.562);
    border: solid 3px rgba(0, 0, 0, 0.849);
    border-radius: 50%;
}
#arriba{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
#abajo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}
.col0,.col1,.col2,.col3,.col4,.col5,.col6{
    transition: all 0.3s ease;
}
main{
    align-self: center;
    font-size: 1.2em;
}
#abajo .botones{
    padding: 10px 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    border:solid 3px rgb(106, 44, 151);
    border-radius: 5em;
    user-select: none;
    cursor:pointer;
}
#abajo .botones:hover{
 transform: scale(1.1);
}
.botones{
    padding: 10px;
    transition: all 1s ease;
}
#ganador{
    border-radius: 5em;
    font-weight: bold; 
    padding: 10px 3vw;
    transition: all 1s ease;
}
