/* estilos generales, para evitar errores. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /*Evita que el borde cambie el tamaño del elemento */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    max-width: 100vw;
}
#container{
    /* Esta linea fija una altura mínima para la página. 
       Ha sido implementada para posicionar el footer siempre a pie de página. */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(11,1,57,1) 38%, rgba(53,4,87,1) 100%);
}

header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
        "logo titulo espacio";
    background: linear-gradient(180deg, rgba(11,1,57,1) 0%, rgba(53,4,87,0.5) 100%);
    border-bottom:10px  solid rgb(106, 44, 151);
    min-height: 20vh;
}

header img{
    align-self: center;
    text-align: center;
    grid-template: "titulo";
    color: aliceblue;
    font-size: 3em;
}

#logo{
    grid-template: "logo";
    margin: 20px 20%;
    align-self: start;
    width: 150px;
}
#containerJuegos a{
    text-decoration: none;
    display: block;
    flex:1 1 35vw;
    margin:20px 20px;
    height: 200px;
}
main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    margin-top:auto;
    padding: 20px;
<<<<<<< Updated upstream
    min-height: 50vh;
=======
    min-height: 60vh;
>>>>>>> Stashed changes
}

#juegoRandom{
    margin:20px;
    background-color: violet;
    padding: 20px;
    border-radius: 5em;
}

.juegos{
    display:flex;
    align-items: center;
    justify-content: center;
    flex:1 1 35vw;
    color:white;
    height: 200px;
    border:solid 2px violet;
    border-radius: 5em;
}

.juegos:hover{
    transition:all 0.5s;
    transform: scale(1.04);
    box-shadow: inset 0px 0px 25px rgb(149, 1, 255);
}

#containerJuegos{
    display:flex;
    flex-basis: 100%;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

#logoFooter{
    height: 150px;
}

.espacio{
    grid-template: "espacio";
}

footer{
    padding: 2% 10%;
    display: flex;
    margin-top:auto;    /* posiciona el footer a pie de pagina, esto DEPENDE de la propiedad FLEX establecida en el CONTAINER. */
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(11,1,57,1) 38%, rgba(53,4,87,1) 100%);
    color: white;
    border-top:10px  solid rgb(106, 44, 151);
    min-height: 20vh;
}

#descripcion{
    margin: 20px;
}

.banderas{
    width: 30px;
}

#navFooter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#desarrolladores{
    margin: 25px 0 15px 0;
}
