*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container{
    /* Esta linea fija una altura mínima para la página, 
       Ha sido implementada para posicionar el footer siempre a pie de página. */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* color provisional */
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(11,1,57,1) 38%, rgba(53,4,87,1) 100%);
}
header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
        "logo titulo espacio";
    background-color: blueviolet;
}
#logo{
    grid-template: "logo";
    padding: 0 100px;
    align-self: start;
}
#logoFooter{
    height: 150px;
}
header h1{
    align-self: center;
    text-align: center;
    grid-template: "titulo";
    color: aliceblue;
    font-size: 3em;
}
.espacio{
    grid-template: "espacio";
}
footer{
    padding: 2% 10%;
    display: flex;
    margin-top:auto;    /* posiciona el footer a pie de pagina, esto DEPENDE de la propiedad FLEX establecida en el CONTAINER. */
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(11,1,57,1) 38%, rgba(53,4,87,1) 100%);
    color: white;
}
#descripcion{
    margin: 20px;
}
.banderas{
    width: 30px;
}
#navFooter{
}